<!DOCTYPE html>
<html ng-app="app">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="styles/style.css" />
    <script src="scripts/player.js"></script>
    <script src="scripts/main.js"></script>

  </head>

  <body ng-app="app" ng-controller="lineupController">
    <div ng-switch on="page">
      <div ng-switch-when="editRoster">
        <h1>Build Your Roster</h1>
        <div data-ng-repeat="player in players track by $index">
          <input id="playerName" type="text" ng-model="player.name" name="" placeholder="">

          <div id="inningPitch">
            <b>Inning to Pitch:</b> <select ng-model="player.inningPitch" ng-options="n for n in inningPitchSelect"></select><br>
          </div>

          <div id="preferDiv">
            <b>Preferred Positions:</b>
            <button class="showhideButton" ng-click="displayPrefer($index);" ng-show="player.showPrefer">Hide</button>
            <button class="showhideButton" ng-click="displayPrefer($index);" ng-show="!player.showPrefer">Show</button>
            <br><br>
            <div id="posPrefer" ng-show="player.showPrefer">
              <label><input type="checkbox" ng-model="player.preferPos[1]">Pitcher ( 1)</label><br>
              <label><input type="checkbox" ng-model="player.preferPos[2]">Catcher (2)</label><br>
              <label><input type="checkbox" ng-model="player.preferPos[3]">First Base (3)</label><br>
              <label><input type="checkbox" ng-model="player.preferPos[4]">Second Base (4)</label><br>
              <label><input type="checkbox" ng-model="player.preferPos[5]">Third Base (5)</label><br>
              <label><input type="checkbox" ng-model="player.preferPos[6]">Short Stop (6)</label><br>
              <label><input type="checkbox" ng-model="player.preferPos[7]">Left Field (7)</label><br>
              <label><input type="checkbox" ng-model="player.preferPos[8]">Center Field(8)</label><br>
              <label><input type="checkbox" ng-model="player.preferPos[9]">Right Field (9)</label><br>
            </div>
          </div>

          <div id="avoidDiv">
            <b>Positions to Avoid:</b>
            <button class="showhideButton" ng-click="displayPrefer($index);" ng-show="player.showPrefer">Hide</button>
            <button class="showhideButton" ng-click="displayPrefer($index);" ng-show="!player.showPrefer">Show</button>
            <br><br>
            <div id="posAvoid" ng-show="player.showPrefer">
              <label><input class="prefCheck" type="checkbox" ng-model="player.avoidPos[1]">Pitcher (1)</label><br>
              <label><input class="prefCheck" type="checkbox" ng-model="player.avoidPos[2]">Catcher (2)</label><br>
              <label><input class="prefCheck" type="checkbox" ng-model="player.avoidPos[3]">First Base (3)</label><br>
              <label><input class="prefCheck" type="checkbox" ng-model="player.avoidPos[4]">Second Base (4)</label><br>
              <label><input class="prefCheck" type="checkbox" ng-model="player.avoidPos[5]">Third Base (5)</label><br>
              <label><input class="prefCheck" type="checkbox" ng-model="player.avoidPos[6]">Short Stop (6)</label><br>
              <label><input class="prefCheck" type="checkbox" ng-model="player.avoidPos[7]">Left Field (7)</label><br>
              <label><input class="prefCheck" type="checkbox" ng-model="player.avoidPos[8]">Center Field(8)</label><br>
              <label><input class="prefCheck" type="checkbox" ng-model="player.avoidPos[9]">Right Field (9)</label><br> 
            </div>
          </div>

          <button id="removeButton" ng-click="removePlayer($index)"> <b>X</b> Remove Player</button><br><br><br>
        </div>
        <button id="addPlayerButton" ng-click="addNewPlayer()"><b>+ Add Player</b></button><br><br>  
        <br>
        Select Number of Innings:
        <select ng-model="numInnings[0]" ng-options="n for n in numInningSelect"></select><br><br>

        <h2>Minimum Play Rules</h2>

        <button id="lineupButton" ng-click="buildLineups()"><b>Build Your Lineups</b></button><br><br>
      </div>
      <!-- END ng-switch editRoster  -->


      <div ng-switch-when="displayLineup">
        <center>
          <table id="listPositions">
            <tr>
              <th>Pitcher</th>
            </tr>
            <tr>
              <th>Catcher</th>
            </tr>
            <tr>
              <th>First Base</th>
            </tr>
            <tr>
              <th>Second Base</th>
            </tr>
            <tr>
              <th>Third Base</th>
            </tr>
            <tr>
              <th>Shortstop</th>
            </tr>
            <tr>
              <th>Left Field</th>
            </tr>
            <tr>
              <th>Center Field</th>
            </tr>
            <tr>
              <th>Right Field</th>
            </tr>
          </table>
          <table id="listPlayers">
            <tr>
              <th ng-repeat="inningNum in numInningsColumns">
                Inning {{inningNum}}
              </th>
           </tr>

           <tr ng-repeat="y in printPositions">
            <td ng-repeat="player in y track by $index">
              {{player.name}}
            </td>
          </th>
           </tr>
          </table>

          <br>
          <button id="editRosterButton" ng-click="toEditRoster()"><b>Return to Edit Roster</b></button><br><br>
        </center>
      </div>
      <!-- END ng-switch displayLineup  -->
    </div>
  </body>
</html>
  