/* Styles go here */
/*LOOOOOOK UP class vs id*/
/*IMPORTANT!!!!! classes need to be before id selectors*/
.posPreference{
  vertical-align: top;
  display: inline-block;
  border: 1px solid black;
  margin:10px;
}

#playerName{
  display: inline-block;
  margin:10px;
}

#inningPitch{
  display: inline-block;
  margin:10px;
}

#removeButton{
  display: inline;
  margin:10px;

}



